/* $Id: style.css,v 1.31 2015/02/10 08:05:30 schwarze Exp $ */

/*
 * This is an example style-sheet provided for mandoc(1) and the -Thtml
 * or -Txhtml output mode.
 *
 * It mimics the appearance of the traditional cvsweb output.
 *
 * See mdoc(7) and man(7) for macro explanations.
 */

table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
table.foot td { width: 50%; }
table.head td { width: 33%; }

html  { max-width: 880px; margin-left: 1em; }
body  { font-size: smaller; font-family: Helvetica,Arial,sans-serif; }
h1  { margin-bottom: 1ex; font-size: 110%; margin-left: -4ex; } /* Section header (Sh, SH). */
h2  { margin-bottom: 1ex; font-size: 105%; margin-left: -2ex; } /* Sub-section header (Ss, SS). */
table  { width: 100%; margin-top: 0ex; margin-bottom: 0ex; } /* All tables. */
td  { vertical-align: top; } /* All table cells. */
blockquote { margin-left: 5ex; margin-top: 0ex; margin-bottom: 0ex; } /* D1. */
div.section { margin-bottom: 2ex; margin-left: 5ex; } /* Sections (Sh, SH). */
div.spacer { margin: 1em 0; }

/* Preamble structure. */

table.foot { font-size: smaller; margin-top: 1em; border-top: 1px dotted #dddddd; } /* Document footer. */
td.foot-date { width: 50%; } /* Document footer: date. */
td.foot-os { width: 50%; } /* Document footer: OS/source. */
table.head { font-size: smaller; margin-bottom: 1em; border-bottom: 1px dotted #dddddd; } /* Document header. */
td.head-ltitle { width: 10%; } /* Document header: left-title. */
td.head-vol { width: 80%; } /* Document header: volume. */
td.head-rtitle { width: 10%; } /* Document header: right-title. */

/* General font modes. */

.emph  { font-style: italic; font-weight: normal; } /* Emphasis: Em, Bl -emphasis. */
.symb  { font-style: normal; font-weight: bold; } /* Symbolic: Sy, Ms, Bf -symbolic. */
.lit  { font-style: normal; font-weight: normal; font-family: monospace; } /* Literal: Dl, Li, Ql, Bf -literal, Bl -literal, Bl -unfilled. */

/* Context-specific modes. */

i.addr  { font-weight: normal; } /* Address (Ad). */
i.arg  { font-weight: normal; } /* Command argument (Ar). */
b.cmd  { font-style: normal; } /* Command (Cm). */
b.config { font-style: normal; } /* Config statement (Cd). */
b.diag  { font-style: normal; } /* Diagnostic (Bl -diag). */
i.farg  { font-weight: normal; } /* Function argument (Fa, Fn). */
i.file  { font-weight: normal; } /* File (Pa). */
b.flag  { font-style: normal; } /* Flag (Fl, Cm). */
b.fname  { font-style: normal; } /* Function name (Fa, Fn, Rv). */
i.ftype  { font-weight: normal; } /* Function types (Ft, Fn). */
b.includes { font-style: normal; } /* Header includes (In). */
i.link-sec { font-weight: normal; } /* Section links (Sx). */
b.macro  { font-style: normal; } /* Macro-ish thing (Fd). */
b.name  { font-style: normal; } /* Name of utility (Nm). */
i.ref-book { font-weight: normal; } /* Reference book (%B). */
i.ref-issue { font-weight: normal; } /* Reference issuer/publisher (%I). */
i.ref-jrnl { font-weight: normal; } /* Reference journal (%J). */
span.ref-title { text-decoration: underline; } /* Reference title (%T). */
span.type { font-style: italic; font-weight: normal; } /* Variable types (Vt). */
b.utility { font-style: normal; } /* Name of utility (Ex). */
b.var  { font-style: normal; } /* Variables (Rv). */

dd.list-ohang { margin-left: 0ex; }

ul.list-bul { list-style-type: disc; padding-left: 1em; }

ul.list-dash { list-style-type: none; padding-left: 0em; }
li.list-dash:before { content: "\2014  "; }

.list-hyph {
  margin-top:1em;
}

ul.list-hyph { list-style-type: none; padding-left: 0em; }
li.list-hyph:before { content: "\2013  "; }

ul.list-item { list-style-type: none; padding-left: 0em; }

ol.list-enum { padding-left: 2em; }

